.category {
  text-align: center;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 0 30px;
  color: #333;
  background-color: #fff;
}

.category__section {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.category__item {
  width: 20%;
  padding: 13px 0 0;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category__icon {
  width: 44px;
  height: 44px;
  margin: 0 auto 2px;
}

.category__name {
  vertical-align: top;
  margin: 0;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li.slick-active button:before {
  color: #f5734b;
}