.shop-list {
  background-color: #fff;
}

.shop-list__header {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  color: #646464;
  font-size: 13px;
}

.shop-list__filter-item {
  position: relative;
  flex: 1;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.shop-list__filter-item::after {
  position: absolute;
  right: 15px;
  margin-top: 3px;
  border: 2px solid #bbb;
  transform: rotate(135deg);
  width: 6px;
  height: 6px;
  border-bottom: none;
  border-left: none;
  content: "";
}