.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  text-align: center;
  color: #333;
  position: relative;
  z-index: 300;
  background-color: #f0f0f0;
}

.header__arrow--left {
  border: 2px solid #f63;
  content: "";
  width: 12px;
  height: 12px;
  border-top: none;
  border-right: none;
  transform: rotate(45deg);
}

.header__tabs {
  width: 150px;
  height: 30px;
  font-size: 14px;
  display: flex;
}

.header__tab {
  color: #ff8400;
  width: 50%;
  height: 100%;
  line-height: 28px;
  border: 1px solid #ff8400;
}


.header__tab:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header__tab:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header__tab--selected {
  background-color: #ff8400;
  color: #fff;
}

.header__icon--search {
  border-radius: 8px;
  margin: 10px 15px 9px 8px;
  line-height: 30px;
  color: #666;
  text-align: left;
  border: 2px solid #f63;
  width: 12px;
  height: 12px;
  position: relative;
}

.header__icon--search::after {
  content: "";
  display: block;
  width: 9px;
  height: 2px;
  border-top: 2px solid #f63;
  transform: rotate(45deg);
  position: absolute;
  right: -6px;
  bottom: -6px;
}